# **SQL Query Generation using Prompt Engineering**

### `Author`: Malhar Ghogare

### **Importing Libraries:**

In [ ]:
#Importing libraries

import openai
from IPython.display import display, Markdown

### **Loading 'CompanyInfo' dataset file:**

In [ ]:
#Opening the text file
with open('/content/CompanyInfo.txt', 'r') as file:
    text_data = file.read()

#Displaying the text data
print(text_data)

Rank    Name    Industry    Revenue
(USD millions)  Revenue growth  Employees   Headquarters
1   Walmart Retail  611,289 Increase 6.7%   2,100,000   Bentonville, Arkansas
2   Amazon  Retail and cloud computing  513,983 Increase 9.4%   1,540,000   Seattle, Washington
3   ExxonMobil  Petroleum industry  413,680 Increase 44.8%  62,000  Spring, Texas
4   Apple   Electronics industry    394,328 Increase 7.8%   164,000 Cupertino, California
5   UnitedHealth Group  Healthcare  324,162 Increase 12.7%  400,000 Minnetonka, Minnesota
6   CVS Health  Healthcare  322,467 Increase 10.4%  259,500 Woonsocket, Rhode Island
7   Berkshire Hathaway  Conglomerate    302,089 Increase 9.4%   383,000 Omaha, Nebraska
8   Alphabet    Technology and cloud computing  282,836 Increase 9.8%   156,000 Mountain View, California
9   McKesson Corporation    Health  276,711 Increase 4.8%   48,500  Irving, Texas
10  Chevron Corporation Petroleum industry  246,252 Increase 51.6%  43,846  San Ramon, California
11  AmerisourceBergen   Pharmaceutical industry 238,587 Increase 11.5%  41,500  Chesterbrook, Pennsylvania
12  Costco  Retail  226,954 Increase 15.8%  304,000 Issaquah, Washington
13  Microsoft   Technology and cloud computing  198,270 Increase 18.0%  221,000 Redmond, Washington
14  Cardinal Health Healthcare  181,364 Increase 11.6%  46,035  Dublin, Ohio
15  Cigna   Health insurance    180,516 Increase 3.7%   70,231  Bloomfield, Connecticut
16  Marathon Petroleum  Petroleum industry  180,012 Increase 27.6%  17,800  Findlay, Ohio
17  Phillips 66 Petroleum industry  175,702 Increase 53.0%  13,000  Houston, Texas
18  Valero Energy   Petroleum industry  171,189 Increase 58.0%  9,743   San Antonio, Texas
19  Ford Motor Company  Automotive industry 158,057 Increase 15.9%  173,000 Dearborn, Michigan
20  The Home Depot  Retail  157,403 Increase 4.1%   471,600 Atlanta, Georgia
21  General Motors  Automotive industry 156,735 Increase 23.4%  167,000 Detroit, Michigan
22  Elevance Health Healthcare  156,595 Increase 13.0%  102,200 Indianapolis, Indiana
23  JPMorgan Chase  Financial services  154,792 Increase 21.7%  293,723 New York City, New York
24  Kroger  Retail  148,258 Increase 7.5%   430,000 Cincinnati, Ohio
25  Centene Healthcare  144,547 Increase 14.7%  74,300  St. Louis, Missouri
26  Verizon Communications  Telecommunications  136,835 Increase 2.4%   117,100 New York City, New York
27  Walgreens Boots Alliance    Pharmaceutical industry 132,703 Decrease 10.7%  262,500 Deerfield, Illinois
28  Fannie Mae  Financials  121,596 Increase 19.7%  8,000   Washington, D.C.
29  Comcast Telecommunications  121,427 Increase 4.3%   186,000 Philadelphia, Pennsylvania
30  AT&T    Conglomerate and telecomunications  120,741 Decrease 28.5%  160,700 Dallas, Texas
31  Meta Platforms  Technology  116,609 Decrease 1.1%   86,482  Menlo Park, California
32  Bank of America Financials  115,053 Increase 22.6%  216,823 Charlotte, North Carolina
33  Target Corporation  Retail  109,120 Increase 2.9%   440,000 Minneapolis, Minnesota
34  Dell Technologies   Technology  102,301 Decrease 4.4%   133,000 Round Rock, Texas
35  Archer Daniels Midland  Food industry   101,556 Increase 19.1%  41,181  Chicago, Illinois
36  Citigroup   Financials  101,078 Increase 26.6%  238,104 New York City, New York
37  United Parcel Service   Transportation  100,338 Increase 3.1%   404,700 Atlanta, Georgia
38  Pfizer  Pharmaceutical industry 100,330 Increase 23.4%  83,000  New York City, New York
39  Lowe's  Retail  97,059  Increase 0.8%   244,500 Mooresville, North Carolina
40  Johnson & Johnson   Pharmaceutical industry 94,943  Increase 1.2%   152,700 New Brunswick, New Jersey
41  FedEx   Transportation  93,512  Increase 11.4%  518,249 Memphis, Tennessee
42  Humana  Health insurance    92,870  Increase 11.8%  67,100  Louisville, Kentucky
43  Energy Transfer Partners    Petroleum industry  89,876  Increase 33.3%  12,565  Dallas, Texas
44  State Farm  Financials  89,328  Increase 8.6%   60,519  Bloomington, Illinois
45  Freddie Mac Financials  86,717  Increase 31.6%  7,819   McLean, Virginia
46  PepsiCo Beverage    86,859  Increase 8.7%   315,000 Purchase, New York
47  Wells Fargo Financials  82,859  Increase 0.5%   238,000 San Francisco, California
48  The Walt Disney Company Media   82,722  Increase 22.7%  195,800 Burbank, California
49  ConocoPhillips  Petroleum industry  82,156  Increase 69.9%  9,500   Houston, Texas
50  Tesla   Automotive and energy   81,462  Increase 51.4%  127,855 Austin, Texas

In [ ]:
!pip install openai==0.28

### **Setting up Openai Key and ChatCompletion Pipeline:**

In [ ]:
|#Setting my OpenAI API key (Replace 'your_api_key_' with your actual key)
openai.api_key = "your_api_key"
# Function to send a prompt to OpenAI and retrieve a response
def get_openai_response(prompt):
    response = openai.ChatCompletion.create(
        model="gpt-4",  # Using GPT-4 model
        messages=[{"role": "system", "content": "You are an expert in SQL and data analysis."},
                  {"role": "user", "content": prompt}],
        temperature=0.7  # Adjust for variability in responses
    )
    return response['choices'][0]['message']['content']

#### **1. Purpose**
- The code interacts with OpenAI’s GPT-4 model to generate SQL-related responses.
- It defines a function to send a prompt and retrieve the model’s response.

#### **2. API Interaction**
- Uses `openai.ChatCompletion.create()` to query the model.
- Extracts the first response from `response['choices'][0]['message']['content']`.

#### **3. Role-Based Prompting**
- A `"system"` message instructs GPT-4 to act as an **SQL and data analysis expert**.
- A `"user"` message contains the actual task prompt.

#### **4. Temperature Setting**
- `temperature=0.7` allows variation in responses.
- This is useful for creative queries but may cause inconsistencies.

### **Task 1: Extracting Attributes and converting to JSON**

In [ ]:
#Prompt for extracting attributes and converting to JSON
prompt = f"""
Extract the following attributes from the given text data and return the results in JSON format:

Attributes:
- Rank
- Name
- Industry
- Revenue
- Revenue growth
- Employees
- Headquarters

### Given Text Data:
{text_data}

### Expected Output Format:
[
  {{
    "Rank": "2",
    "Name": "Amazon",
    "Industry": "Retail and cloud computing",
    "Revenue": "513,983",
    "Revenue Growth": "Increase 9.4%",
    "Employees": "1,540,000",
    "Headquarters": "Seattle, Washington"
  }},
  {{
    "Rank": "3",
    "Name": "ExxonMobil",
    "Industry": "Petroleum industry",
    "Revenue": "413,680",
    "Revenue Growth": "Increase 44.8%",
    "Employees": "62,000",
    "Headquarters": "Spring, Texas"
  }},
  {{
    "Rank": "4",
    "Name": "Apple",
    "Industry": "Electronics industry",
    "Revenue": "394,328",
    "Revenue Growth": "Increase 7.8%",
    "Employees": "164,000",
    "Headquarters": "Cupertino, California"
  }},
  {{
    "Rank": "5",
    "Name": "UnitedHealth Group",
    "Industry": "Healthcare",
    "Revenue": "324,162",
    "Revenue Growth": "Increase 12.7%",
    "Employees": "400,000",
    "Headquarters": "Minnetonka, Minnesota"
  }}
]
"""

In [ ]:
import openai

#OpenAI API call (Make sure to replace 'YOUR_API_KEY' with a valid key)
response = openai.ChatCompletion.create(
    model="gpt-4",  # Use GPT-4 or GPT-3.5-turbo
    messages=[{"role": "user", "content": prompt}],
    temperature=0  # Lower temperature for structured output
)

#Extracting response text
extracted_data = response['choices'][0]['message']['content']

#Displaying JSON output
from IPython.display import display, Markdown
display(Markdown(f"### Extracted Attributes & JSON Output:\n```json\n{extracted_data}\n```"))

### Extracted Attributes & JSON Output:
```json
[
  {
    "Rank": "1",
    "Name": "Walmart",
    "Industry": "Retail",
    "Revenue": "611,289",
    "Revenue Growth": "Increase 6.7%",
    "Employees": "2,100,000",
    "Headquarters": "Bentonville, Arkansas"
  },
  {
    "Rank": "2",
    "Name": "Amazon",
    "Industry": "Retail and cloud computing",
    "Revenue": "513,983",
    "Revenue Growth": "Increase 9.4%",
    "Employees": "1,540,000",
    "Headquarters": "Seattle, Washington"
  },
  {
    "Rank": "3",
    "Name": "ExxonMobil",
    "Industry": "Petroleum industry",
    "Revenue": "413,680",
    "Revenue Growth": "Increase 44.8%",
    "Employees": "62,000",
    "Headquarters": "Spring, Texas"
  },
  {
    "Rank": "4",
    "Name": "Apple",
    "Industry": "Electronics industry",
    "Revenue": "394,328",
    "Revenue Growth": "Increase 7.8%",
    "Employees": "164,000",
    "Headquarters": "Cupertino, California"
  },
  {
    "Rank": "5",
    "Name": "UnitedHealth Group",
    "Industry": "Healthcare",
    "Revenue": "324,162",
    "Revenue Growth": "Increase 12.7%",
    "Employees": "400,000",
    "Headquarters": "Minnetonka, Minnesota"
  },
  {
    "Rank": "6",
    "Name": "CVS Health",
    "Industry": "Healthcare",
    "Revenue": "322,467",
    "Revenue Growth": "Increase 10.4%",
    "Employees": "259,500",
    "Headquarters": "Woonsocket, Rhode Island"
  },
  {
    "Rank": "7",
    "Name": "Berkshire Hathaway",
    "Industry": "Conglomerate",
    "Revenue": "302,089",
    "Revenue Growth": "Increase 9.4%",
    "Employees": "383,000",
    "Headquarters": "Omaha, Nebraska"
  },
  {
    "Rank": "8",
    "Name": "Alphabet",
    "Industry": "Technology and cloud computing",
    "Revenue": "282,836",
    "Revenue Growth": "Increase 9.8%",
    "Employees": "156,000",
    "Headquarters": "Mountain View, California"
  },
  {
    "Rank": "9",
    "Name": "McKesson Corporation",
    "Industry": "Health",
    "Revenue": "276,711",
    "Revenue Growth": "Increase 4.8%",
    "Employees": "48,500",
    "Headquarters": "Irving, Texas"
  },
  {
    "Rank": "10",
    "Name": "Chevron Corporation",
    "Industry": "Petroleum industry",
    "Revenue": "246,252",
    "Revenue Growth": "Increase 51.6%",
    "Employees": "43,846",
    "Headquarters": "San Ramon, California"
  }
]
```

#### **1. Accuracy**
- The extracted attributes align correctly with the given dataset.
- The output contains correct values for **Rank, Name, Industry, Revenue, Revenue Growth, Employees, and Headquarters**.

#### **2. Completeness**
- The extracted JSON includes **more records than the prompt example**, demonstrating that the model correctly processes the dataset beyond the explicitly stated examples.
- This suggests the model **understood the broader pattern** rather than only extracting predefined examples.

#### **3. Consistency**
- The format of the output JSON is **consistent with the expected structure**.
- Field names match the attribute names specified in the prompt, ensuring easy database insertion.
- No missing fields or inconsistencies across records.

#### **4. Clarity & Readability**
- The JSON structure is **clean and well-formatted**, making it easy to parse.
- Numeric values (such as Revenue and Employees) are represented as **strings**, which could require type conversion in SQL operations.

#### **5. Appropriateness**
- The output effectively **matches the intended use case** of structured data extraction.
- The model successfully follows the request to **extract key business attributes** in JSON format.

#### **6. Improvement Areas**
- The prompt could clarify whether all records should be extracted or just a subset.
- The Revenue and Employee numbers could be **converted into numeric types** rather than strings for better usability in SQL.

### **Overall Assessment**
✅ **High accuracy** in attribute extraction  
✅ **Consistent formatting** following JSON structure  
✅ **Clear and structured output** suitable for database use  
🔹 **Minor prompt inconsistencies** that could be refined  
🔹 **Potential improvements** in numerical data representation

### **Task 2: SQL Table Creation**

In [ ]:
#Defining the prompt to generate an SQL table creation query
prompt_create_table = """
Generate SQL code that creates a table called 'CompanyInfo' to store the attributes extracted from the 'CompanyInfo.txt' file.
Ensure that each column has an appropriate data type.

### Required Table Structure:
- Rank: INT (PRIMARY KEY, as it uniquely identifies each company)
- Name: VARCHAR(255) (Company names can be up to 255 characters)
- Industry: VARCHAR(255) (Industry names may be long, so use VARCHAR(255))
- Revenue: DECIMAL(15,2) (Large monetary values with two decimal places)
- Revenue_growth: DECIMAL(5,2) (Percentage values, so two decimal places)
- Employees: INT (The number of employees is an integer)
- Headquarters: VARCHAR(255) (Headquarters location as a string)

### Constraints:
- The 'Rank' column should be the PRIMARY KEY to uniquely identify each company.
- The 'Name' column should be **NOT NULL** as each company must have a name.
- The 'Revenue' column should not allow negative values.

Ensure the output is formatted SQL code that can be executed directly in an SQL database.
"""

#OpenAI API call
response = openai.ChatCompletion.create(
    model="gpt-4",
    messages=[{"role": "user", "content": prompt_create_table}],
    temperature=0  # Ensures structured and deterministic output
)

#Extracting the generated SQL query
sql_query = response['choices'][0]['message']['content']

#Displaying the SQL output in Markdown format for better readability
display(Markdown(f"### SQL Table Creation :\n```sql\n{sql_query}\n```"))

### SQL Table Creation :
```sql
```sql
CREATE TABLE CompanyInfo (
    Rank INT PRIMARY KEY,
    Name VARCHAR(255) NOT NULL,
    Industry VARCHAR(255),
    Revenue DECIMAL(15,2) CHECK (Revenue >= 0),
    Revenue_growth DECIMAL(5,2),
    Employees INT,
    Headquarters VARCHAR(255)
);
```
```

#### **1. Accuracy**
- The generated SQL matches the expected table structure.
- All **required columns** are correctly defined with appropriate data types.
- The **PRIMARY KEY constraint** on `Rank` is correctly implemented.

#### **2. Completeness**
- The output includes **all specified constraints**:
  - `Rank` as `PRIMARY KEY`
  - `Name` as `NOT NULL`
  - `Revenue` with a `CHECK` constraint (`Revenue >= 0`)

#### **3. Consistency**
- Column names match the attributes extracted earlier, ensuring seamless integration.
- Data types align with industry best practices for storing company information.

#### **4. Clarity & Readability**
- The SQL output is well-structured and **formatted for readability**.
- Use of `DECIMAL(15,2)` for revenue and `DECIMAL(5,2)` for revenue growth ensures **precision for financial data**.

#### **5. Appropriateness**
- The choice of `VARCHAR(255)` for textual fields is reasonable.
- Integer data types for `Employees` and `Rank` are correctly assigned.
- The **CHECK constraint** on `Revenue` prevents incorrect data entries.

#### **6. Improvement Areas**
- `Revenue_growth` represents percentages but lacks a **constraint to enforce valid ranges** (e.g., `CHECK (Revenue_growth >= 0 AND Revenue_growth <= 100)`).
- `Employees` can be `NULL`, which might not always be ideal. If every company must have an employee count, it should be `NOT NULL`.

### **Overall Assessment**
✅ **Accurate and well-structured SQL query**  
✅ **Meets all functional and integrity constraints**  
✅ **Well-formatted and easy to read**  
🔹 **Could improve `Revenue_growth` constraints**  
🔹 **Consider making `Employees` NOT NULL if required**

### **Task 3: SQL INSERT Query using JSON data**

In [ ]:
# Defining the prompt to generate an SQL INSERT query using JSON data
prompt_insert_query = """
Generate an SQL INSERT query that takes company data provided in JSON format and inserts a record into the 'CompanyInfo' table.

### JSON Structure:
The JSON object contains the following keys:
  - Rank
  - Name
  - Industry
  - Revenue
  - Revenue Growth
  - Employees
  - Headquarters

The JSON data should be assumed to be stored in a variable (e.g., @company_data), and the query should use SQL functions to extract values and insert them.

### Example JSON Object:
```json
{
  "Rank": 1,
  "Name": "Walmart",
  "Industry": "Retail",
  "Revenue": 611289,
  "Revenue Growth": "6.7%",
  "Employees": 2100000,
  "Headquarters": "Bentonville, Arkansas"
}
"""

#OpenAI API call
response = openai.ChatCompletion.create(
    model="gpt-4",
    messages=[{"role": "user", "content": prompt_insert_query}],
    temperature=0  # Ensures structured and deterministic output
)

#Extracting the generated SQL query
sql_insert_query = response['choices'][0]['message']['content']

#Displaying the SQL output in Markdown format for better readability
display(Markdown(f"### Generated SQL INSERT Query:\n```sql\n{sql_insert_query}\n```"))

### Generated SQL INSERT Query:
```sql
Here is an SQL INSERT query that extracts values from the JSON object and inserts them into the 'CompanyInfo' table:

```sql
INSERT INTO CompanyInfo (Rank, Name, Industry, Revenue, RevenueGrowth, Employees, Headquarters)
VALUES (
  CAST(JSON_VALUE(@company_data, '$.Rank') AS INT),
  JSON_VALUE(@company_data, '$.Name'),
  JSON_VALUE(@company_data, '$.Industry'),
  CAST(JSON_VALUE(@company_data, '$.Revenue') AS FLOAT),
  JSON_VALUE(@company_data, '$.Revenue Growth'),
  CAST(JSON_VALUE(@company_data, '$.Employees') AS INT),
  JSON_VALUE(@company_data, '$.Headquarters')
);
```

This query uses the SQL function `JSON_VALUE` to extract values from the JSON object. The `CAST` function is used to convert the extracted JSON values to the appropriate data types for the 'CompanyInfo' table.

Please note that the SQL syntax for handling JSON can vary between different SQL databases. The above query is written for SQL Server. If you are using a different SQL database, you may need to adjust the syntax accordingly.
```

### **Insights on SQL INSERT Query Prompt and Output**

#### **1. Accuracy**
- The query is intended to **extract values from a JSON object** and insert them into the `CompanyInfo` table.
- The use of `JSON_VALUE` for structured data extraction aligns with SQL Server syntax.
- However, the output contains **corrupted formatting and broken syntax**, making it **unusable without manual corrections**.

#### **2. Completeness**
- The prompt correctly specifies **all required fields** (`Rank, Name, Industry, Revenue, Revenue Growth, Employees, Headquarters`).
- **Data type conversions** (`CAST` for numerical fields) are appropriately mentioned, ensuring data integrity.

#### **3. Consistency**
- The generated SQL query **attempts to follow the expected format**, but the formatting is **severely broken** with misplaced characters and line breaks.
- The intended structure is **somewhat preserved**, but incorrect syntax disrupts readability.

#### **4. Clarity & Readability**
- The output contains **fragmented characters, misplaced spaces, and broken SQL syntax**, making it difficult to understand.
- Some parts of the query, such as `CAST(JSON VALUE(@company data, '.Revenue') AS FLOAT)`, appear **disordered or duplicated**.

#### **5. Appropriateness**
- The use of `JSON_VALUE` and `CAST` functions is relevant for structured JSON-to-SQL insertion.
- The **database-specific syntax note** is useful, highlighting potential modifications for other SQL dialects.

#### **6. Improvement Areas**
- **Fix Formatting Issues:** The response **should not contain corrupted text**—likely caused by an encoding or model output issue.
- **Ensure Proper Line Structure:** The SQL statement **should follow correct syntax** to be executable.
- **Clarify JSON Handling:** The explanation is valid, but the **example output should be tested for correctness** before use.

### **Overall Assessment**
✅ **Correct use of JSON extraction functions**  
✅ **Logical approach to inserting structured data**  
❌ **Severe formatting issues make the query unusable**  
❌ **Syntax corruption affects execution**  
🔹 **Needs proper structuring for readability and correctness**

### **Task 4: SQL Query for top 5 and bottom 5 companies**

In [ ]:
#Defining the prompt to generate an SQL query for top 5 and bottom 5 companies
prompt_top_bottom_query = """
Generate an SQL query that retrieves both the top 5 and bottom 5 ranked companies from the 'CompanyInfo' table based on the 'Rank' column.
Assume that:
- A lower Rank value indicates a higher position (top ranked companies).
- A higher Rank value indicates a lower position (bottom ranked companies).

### Requirements:
- The query should return all columns for the selected companies.
- The solution **must use either a UNION of two SELECT queries (one for top 5 and one for bottom 5) OR a **window function (if supported by the SQL dialect)**.
- Ensure that the query is properly formatted SQL code that can be executed directly in an SQL database.

Provide a fully executable SQL query.
"""

#OpenAI API call
response = openai.ChatCompletion.create(
    model="gpt-4",
    messages=[{"role": "user", "content": prompt_top_bottom_query}],
    temperature=0  # Ensures structured and deterministic output
)

#Extracting the generated SQL query
sql_top_bottom_query = response['choices'][0]['message']['content']

#Displaying the SQL output in Markdown format for better readability
display(Markdown(f"### Generated SQL Query for Top 5 & Bottom 5 Companies:\n```sql\n{sql_top_bottom_query}\n```"))

### Generated SQL Query for Top 5 & Bottom 5 Companies:
```sql
Here is an SQL query using UNION of two SELECT queries:

```sql
(SELECT * FROM CompanyInfo ORDER BY Rank ASC LIMIT 5)
UNION
(SELECT * FROM CompanyInfo ORDER BY Rank DESC LIMIT 5)
```

Here is an SQL query using window function:

```sql
SELECT * FROM (
  SELECT *, ROW_NUMBER() OVER (ORDER BY Rank ASC) as TopRank, ROW_NUMBER() OVER (ORDER BY Rank DESC) as BottomRank
  FROM CompanyInfo
) AS RankedCompanies
WHERE TopRank <= 5 OR BottomRank <= 5
```

Please note that the window function query might not work in all SQL dialects as not all of them support window functions.
```

### **Insights on SQL Query for Top 5 & Bottom 5 Companies**

#### **1. Accuracy**
- The output correctly follows the requirement of selecting **both the top 5 and bottom 5 companies** based on `Rank`.
- **Two valid approaches** are provided:
  - **UNION-based query** using `ORDER BY Rank ASC LIMIT 5` and `ORDER BY Rank DESC LIMIT 5`.
  - **Window function-based query** using `ROW_NUMBER() OVER ()`.

#### **2. Completeness**
- The query includes **all columns** from `CompanyInfo`, as required.
- **Both methods** (UNION and window function) offer flexibility based on SQL dialect support.

#### **3. Consistency**
- The UNION approach is straightforward and **compatible with most SQL dialects**.
- The window function approach is more advanced but **not universally supported**, as noted in the output.

#### **4. Clarity & Readability**
- The UNION-based query is **concise and readable**.
- The **window function query lacks a final `SELECT` statement**, making it **less readable** in its current form.
- Missing **syntax highlighting** (`;` at the end of queries) affects clarity.

#### **5. Appropriateness**
- The UNION approach is **efficient and widely compatible**.
- The window function approach is **more SQL-optimized** but requires support for analytic functions.

#### **6. Improvement Areas**
- **Syntax Fixes:** The UNION query should **wrap the subqueries in parentheses properly**.
- **Clarify SQL Dialect Requirements:** The output **mentions SQL dialect compatibility**, but a more explicit distinction (e.g., MySQL vs. PostgreSQL) would help.
- **Improve Readability of the Window Function Query:** The `SELECT * FROM (...)` structure could be clearer by explicitly selecting columns.

### **Overall Assessment**
✅ **Two valid approaches provided (UNION and window functions)**  
✅ **Meets query requirements for top 5 & bottom 5 selections**  
✅ **SQL code is mostly executable with minor fixes**  
🔹 **UNION query formatting needs correction**  
🔹 **Window function approach could be refined for better clarity**

### **Task 5: SQL Query to retrieve companies by state**

In [ ]:
#Defining the prompt to generate an SQL query for grouping companies by state
prompt_group_by_state = """
Construct an SQL query that groups companies by state using the 'Headquarters' column from the 'CompanyInfo' table.
Assume that:
- The 'Headquarters' column contains both **city and state** (e.g., "Seattle, Washington").
- The state information can be **extracted as the substring after the comma**.

### Requirements:
- The query should **count the number of companies** in each state.
- The query should **display two columns**: `State` and `CompanyCount` (total companies per state).
- Ensure that the output is **properly formatted SQL code** that can be executed directly in an SQL database.

Provide a **fully executable SQL query**.
"""

#Defining the prompt to generate an SQL query for grouping companies by industry
prompt_group_by_industry = """
Construct an SQL query that groups companies by the 'Industry' column in the 'CompanyInfo' table.

### Requirements:
- The query should **count how many companies belong to each industry**.
- The query should **display two columns**: `Industry` and `CompanyCount` (total companies per industry).
- Ensure that the output is **properly formatted SQL code** that can be executed directly in an SQL database.

Provide a **fully executable SQL query**.
"""

#OpenAI API call for grouping by state
response_state = openai.ChatCompletion.create(
    model="gpt-4",
    messages=[{"role": "user", "content": prompt_group_by_state}],
    temperature=0  # Ensures structured and deterministic output
)

#OpenAI API call for grouping by industry
response_industry = openai.ChatCompletion.create(
    model="gpt-4",
    messages=[{"role": "user", "content": prompt_group_by_industry}],
    temperature=0  # Ensures structured and deterministic output
)

#Extracting the generated SQL queries
sql_group_by_state = response_state['choices'][0]['message']['content']
sql_group_by_industry = response_industry['choices'][0]['message']['content']

#Displaying the SQL outputs in Markdown format for better readability
display(Markdown(f"### Generated SQL Query for Grouping by State:\n```sql\n{sql_group_by_state}\n```"))
display(Markdown(f"### Generated SQL Query for Grouping by Industry:\n```sql\n{sql_group_by_industry}\n```"))

### Generated SQL Query for Grouping by State:
```sql
Here is a SQL query that meets your requirements:

```sql
SELECT
    TRIM(SUBSTR(Headquarters, INSTR(Headquarters, ',') + 1)) AS State,
    COUNT(*) AS CompanyCount
FROM
    CompanyInfo
GROUP BY
    State
ORDER BY
    CompanyCount DESC;
```

This query works as follows:

- The `SUBSTR` function is used to extract the state from the 'Headquarters' column. The `INSTR` function is used to find the position of the comma, and then everything after the comma is extracted.
- The `TRIM` function is used to remove any leading or trailing spaces from the state name.
- The `COUNT(*)` function is used to count the number of companies in each state.
- The `GROUP BY` clause is used to group the companies by state.
- The `ORDER BY` clause is used to sort the states by the number of companies in descending order.
```

### Generated SQL Query for Grouping by Industry:
```sql
Here is the SQL query:

```sql
SELECT Industry, COUNT(*) AS CompanyCount
FROM CompanyInfo
GROUP BY Industry;
```

This query will return a list of industries and the number of companies in each industry. The `GROUP BY` clause groups the companies by industry, and the `COUNT(*)` function counts the number of companies in each group.
```

### **Insights on SQL Queries for Grouping by State & Industry**

#### **1. Accuracy**
- The **grouping by state query** correctly extracts the state name using `SUBSTR()` and `INSTR()` functions.
- The **grouping by industry query** is straightforward and correctly **counts companies per industry**.

#### **2. Completeness**
- **All required fields are included**:
  - `State` and `CompanyCount` for state-based grouping.
  - `Industry` and `CompanyCount` for industry-based grouping.
- The **ORDER BY clause in the state query** ensures results are sorted by company count.

#### **3. Consistency**
- Both queries **maintain proper SQL formatting**.
- The column names (`State`, `Industry`, `CompanyCount`) are **clear and consistent** with SQL conventions.

#### **4. Clarity & Readability**
- The **explanation provided for the state query is detailed and useful**.
- **However, the closing SQL code block is incomplete**—the `ORDER BY` statement appears inside the explanation, affecting readability.
- The **industry query explanation is minimal** but still clear.

#### **5. Appropriateness**
- The **state extraction method is suitable for SQL dialects that support `INSTR()` and `SUBSTR()`**.
- The **industry query is universally compatible** across SQL databases.

#### **6. Improvement Areas**
- **Fix formatting issues**: The SQL code blocks **lack proper closures**, leading to readability issues.
- **Clarify SQL dialect compatibility**: The `INSTR()` function is not supported in all SQL databases (e.g., PostgreSQL), so alternative methods could be suggested.
- **Enhance explanation for the industry query**: While the state query is well-explained, the **industry query could use a short clarification** on how grouping works.

### **Overall Assessment**
✅ **Queries correctly implement grouping and counting**  
✅ **Well-structured SQL statements with meaningful column names**  
✅ **Detailed explanation for state query enhances clarity**  
🔹 **Formatting issues affect readability**  
🔹 **SQL dialect compatibility for state extraction should be noted**  
🔹 **Industry query explanation could be expanded for completeness**